[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
pytest = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pyscopg2 = "*"
django-s3-folder-storage = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11"
