{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}Kanban Life{% endblock title %}</title>
      <!-- BOOTSTRAP ICONS  -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
      <!-- BOOTSTRATP CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- BOOTSTRAP JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <!-- CSS PROPRIO -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="col-lg-3"></div>
        <div class="col text-align-center">
          <a class="navbar-brand logo-kanban-life" href="#">Kanban-Life</a>
        </div>       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/gustavossandrin/kanban_life" target="_blank">GitHub<i class="bi bi-github ms-1"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock body %}
    <footer>
      <div class="container-fluid social-media">
        <div class="row text-align-center">
          <div class="col-4 mt-3">
            <a href="mailto:gustavosandrindattein123@gmail.com"><i class="bi bi-envelope footer-link-icon"></i><span class="footer-link-text ms-1">gustavosandrindattein123@gmail.com</span></a>
          </div>
          <div class="col-4 mt-3">
            <a href="https://www.linkedin.com/in/gustavo-sandrin-848044241/" target="_blank"><i class="bi bi-linkedin footer-link-icon"></i><span class="footer-link-text ms-1">Linkedin</span></a>
          </div>
          <div class="col-4 mt-3">
            <a href="https://www.instagram.com/gustavossandrin/" target="_blank"><i class="bi bi-instagram footer-link-icon"></i><span class="footer-link-text ms-1">Instagram</span></a>
          </div>
          <div class="col-12 footer-copyright mt-4">
            <p>© 2023-{% now 'Y' %} Gustavo Sandrin. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      {% block script %}{% endblock script %}
    </script>
  </body>
</html>