{% extends 'home/base.html' %}
{% load static %}
{% block title %}Sign Up - Kanban Life{% endblock title %}
{% block body %}

    <div class="container-fluid sign-up-form bg-tertiary-color">
        <div class="row justify-content-center">
            <div class="col-8 col-md-6 col-lg-4 col-xl-3 bg-white-color">
                <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="text-align-center title-form-sign-up">Sign up for FREE</h2>
                        <form method="post" id="id_form_sign_up">
                            {% csrf_token %}
                            <div class="m-4">
                              <label for="id_nome" class="form-label">FULL NAME</label>
                              <input type="text" required class="form-control" id="id_nome" name="nome_completo">
                            </div>
                            <div class="m-4">
                              <label for="id_email" class="form-label">EMAIL</label>
                              <input type="email" class="form-control" id="id_email" name="email">
                            </div>
                             <p class="form-error m-4" id="emailAlreadyExist">The email provided is already being used</p>
                            <div class="m-4">
                                <label for="id_password" class="form-label">PASSWORD</label>
                                <input type="password" class="form-control" id="id_password" name="senha">
                            </div>
                            <div class="m-4 form-check">
                              <input type="checkbox" class="form-check-input" id="signUp-terms">
                              <label class="form-check-label" for="signUp-terms">I agree to the Terms of Service and Privacy Policy
                              </label>
                            </div>
                            <p class="form-error m-4" id="signUp-termsError">You must agree in order to create an account</p>
                            <div class="m-4 text-align-center">
                                <button type="submit" class="btn btn-success">CREATE ACCOUNT</button>
                            </div>
                            <hr class="form-divider m-4">
                            <div class="m-4 text-align-center">
                                <p>Already have an account? <a href="{% url 'sign_up' %}">Login</a></p>
                            </div>
                            
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}
{% block script %}

     // Tirar alertar caso altere o email ou cheque as permissoes
    $('#signUp-terms').on('change', function(){
        if ($('#signUp-terms').is(":checked")){
            $('#signUp-termsError').hide();
            $('#signUp-terms').removeClass('checkbox-error-form');
        }
    });

    $('#id_email').on('change', function(){
        if ($('#emailAlreadyExist').is(":visible")){
            $('#emailAlreadyExist').hide();
        }
    });


    $('#id_form_sign_up').on('submit', function(e){
        e.preventDefault();
        if (!$('#signUp-terms').is(":checked")){
            $('#signUp-termsError').show();
            $('#signUp-terms').addClass('checkbox-error-form');
            $('#signUp-terms').focus();
            return false
        }
        // Verificar se já existe o email informado
        $.ajax({
            type: "POST",
            url: "/verificar_email_ja_existente/",
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'email_verificar': $('#id_email').val(),
            },
            success: function (response)
            {
                if (response.existe){
                    $('#emailAlreadyExist').show();
                    return false
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/sign_up/",
                        dataType: 'json',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'email': $('#id_email').val(),
                            'nome_completo': $('#id_nome').val(),
                            'senha': $('#id_password').val(),
                        },
                        success: function (response)
                        {
                            const swalWithBootstrapButtons = Swal.mixin({
                              customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-danger'
                              },
                              buttonsStyling: false
                            })

                            swalWithBootstrapButtons.fire({
                              title: 'Account Created!!!',
                              text: "Do you want to be taken to the login?",
                              icon: 'success',
                              confirmButtonText: 'Yes take me!',
                            }).then((result) => {
                              if (result.isConfirmed) {
                                window.location.href = "/login/"
                              }
                            })
                        }
                    });
                }
            }
        });


    })


{% endblock script %}