/* CORES 
.color1 {color: #8dc1fd;}
.color2 {color: #bde9ff;}
.color3 {color: #001d36;}
.color4 {color: #74777c;}
.color5 {color: #e2e2e2;}
*/

/* MEDIAS */
@media(max-width: 992px) {
    /* FOOTER */
    .footer-link-text {
        display: none !important;
        color: black;
    }

    .footer-link-icon {
        font-size: 1.8em;
    }
}

/* ALL */

body, html{
  height: 100%;
}

body {
    font-family: Verdana;
}

.bg-white-color {
    background-color: #fff;
}

.bg-primary-color {
    background-color: #e2e2e2;
}

.bg-secondary-color {
    background-color: #184c68;
}

.bg-tertiary-color {
    background-color: #2a7cbb;
}

.text-align-center {
    text-align: center;
}

.form-divider {
    background-color: #dcddde;
    border: 0;
    height: 1px;
    width: 100%;
}

/* BASE NAVBAR */

.navbar {
    box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
}

.navbar-nav a {
    color: #666;
    font-size: 1.4em;
}

.navbar-nav a:hover {
    background-color: #f1f1f1;
}


.navbar-brand.logo-kanban-life {
    color: black;
    font-size: 1.8em;
    text-align: center;
}

.navbar-brand.logo-kanban-life img {
    height: 70px;
}

/* BASE FOOTER */
.social-media {
    background-color: #001d36;
    color: #ccc;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-media a {
    color: #ccc;
    text-decoration: none;
}

.social-media a:hover {
    color: #fff;
}

/* CONTEUDO DA PAGINA HOME */

#primeiro-conteudo-home {
    color: #fff;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #2a7cbb;
}

.home-sign-up {
    background-color: #3e4147;
}

.mensagem-sign-up {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}

.home-sign-up .btn {
    background-color: #4db955;
    border-color: #4db955;
    border-radius: 4px;
    padding: 10px 30px;
}

.home-sign-up .btn:hover {
    background-color: #3e9443;
    border-color: #3e9443;
}

/* FORM SIGN-UP */

.sign-up-form .bg-white-color{
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 30%);
}

.sign-up-form{
    padding-top: 90px;
    padding-bottom: 120px;
}

.title-form-sign-up {
    font-weight: 700;
    padding-top: 50px;
}

#id_form_sign_up button {
    color: #fff;
    background-color: #4db955;
    border-color: #4db955;
    border-radius: 4px;
}

.form-error {
    white-space: pre-wrap;
    border: 2px solid #b94a48;
    padding: 0.5em;
    border-radius: 0.25em;
    color: #b94a48;
    background-color: #f2dede;
    display: none;
}

.checkbox-error-form {
    border-color: #b94a48;
}

.checkbox-error-form:focus {
    border-color: #b94a48;
    box-shadow:0 0 0 0.25rem rgba(241, 56, 19, 0.25);
}

/* FORM LOGIN */

.login-form .bg-white-color{
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 30%);
}

.login-form{
    padding-top: 135px;
    padding-bottom: 165px;
}

.title-form-login {
    font-weight: 700;
    padding-top: 50px;
}

#id_form_login button {
    margin-top: 15px !important;
    color: #fff;
    background-color: #4db955;
    border-color: #4db955;
    border-radius: 4px;
    width: 35%;
    height: 20%;
}

.form-error-login {
    white-space: pre-wrap;
    border: 2px solid #b94a48;
    padding: 0.5em;
    border-radius: 0.25em;
    color: #b94a48;
    background-color: #f2dede;
}

/* PAGE NOT FOUND */
#page-not-found {
    color: #fff;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #2a7cbb;
    height: 80%;
}

.page-not-found-message{
    color: #333;
    background-color: #fff;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 50px;
}

.page-not-found-message h1{
    font-size: 2.625em;
    font-weight: 700;
}

.page-not-found-message p{
    font-size: 1.3em;
}

/* BOARD */
.navbar-brand.logo-kanban-life-dark {
    color: #f4f4f4;
    font-size: 1.5em;
    text-align: center;
}

.logo-kanban-life-dark-img {
    height: 70px;
}

/* BOARD TABLE THEAD */
.board-table{
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    background: #fff;
    border-spacing: 0;
}

.column-header{
    user-select: none;
    box-sizing: border-box;
    background-color: #eee;
    border-top: 1px solid #c3c3c3;
    border-left: 1px solid #d7d7d7;
    height: 37px;
    min-width: 220px;
    vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: sticky;
    top: 0;
    z-index: 1;
}

.columnHeader-flexSpacerr{
    flex: 0 1000 36px;
}

.columnHeader-inner{
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 36px;
    padding: 7px 6px 6px;
    position: relative;
}

.columnHeader-nameAndInfo{
    user-select: none;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 6px;
}

.columnHeader-inner .bi-plus-circle {
    color: green;
    font-size: 1.5em;
    margin-left: auto;
    cursor: pointer;
}

.columnHeader-name{
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 1 auto;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}

/* BOARD TABLE TBODY */
.board-swimlane {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #c3c3c3;
    display: table-row;
}

.board-taskListCell {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top: 1px solid #c3c3c3;
    border-left: 1px solid #e4e4e4;
    position: relative;
    height: 1700px;
}

.column-first {
    border-left: 1px solid #c3c3c3;
}

.column-last {
    border-right: 1px solid #c3c3c3;
}

.board-taskListCell-inner {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.board-taskListCellHeader {
    display: none;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d7d7d7;
    height: 27px;
}

.board-taskListCellHeader-inner {
    height: 100%;
    padding-top: 1px;
}

.taskList {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.task {
    position: relative;
    padding: 5px 7px 0;
    border: 1px solid #fed22f;
    margin: 8px;
    cursor: pointer;
    word-wrap: break-word;
    border-radius: 3px;
    font-size: 12px;
}

.task-cyan {
    background-color: #dbfff2;
    border-color: #70ddb4;
}

.task-name {
    display: block;
    margin-bottom: 5px;
}

/* CSS MODAL CRIAÇÂO TAREFA */
.addTaskDialog-wrapper, .taskDetails-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, .6);
    z-index: 2000;
    display: none;
    overflow: auto;
}

#addTaskDialog {
    position: relative;
    margin: 25px auto 50px;
    line-height: 1.4;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    padding: 30px 30px 10px;
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#modal_adiciona_tarefa input {
    font-weight: 500;
}

#modal_adiciona_tarefa input:focus{
    box-shadow: none;
}

#modal_adiciona_tarefa input::placeholder{
    opacity: 0.7;
}

#modal_adiciona_tarefa select:focus{
    box-shadow: none;
}

#color-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

#color-circle.yellow{
    background-color: #fed22f;
}

#color-circle.green{
    background-color: #7dbb00;
}

#color-circle.blue{
    background-color: #4a99ff;
}

#color-circle.red{
    background-color: #ff8099;
}

#color-circle.cyan{
    background-color: #70ddb4;
}

#color-circle.orange{
    background-color: #ffb13b;
}

#color-circle.purple{
   background-color: #c69cf3;
}

#color-circle.magenta{
   background-color: #e2aae2;
}


.taskColor-yellow{
    background-color: #ffffe0;
}

.taskColor-green{
    background-color: #e5ffd1;
}

.taskColor-blue{
    background-color: #cce3ff;;
}

.taskColor-red{
    background-color: #ffdbe2;;
}

.taskColor-cyan{
    background-color: #eafff8;;
}

.taskColor-orange{
    background-color: #ffecc5;;
}

.taskColor-purple{
    background-color: #efe6f8;;
}

.taskColor-magenta{
    background-color: #ffedff;;
}


/* CSS MODAL CRIAÇÂO TAREFA */














