{% extends 'board/base.html' %}
{% load static %}
{% block title %}Kanban Life{% endblock title %}
{% block body %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="col text-align-center">
      <a class="navbar-brand logo-kanban-life-dark" href="#">Kanban-Life</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="col mt-3">
         <table class="board-table">
            <thead>
                <tr>
                    {% for coluna in colunas %}
                        <th class="column-header {% if forloop.first %}column-first{% elif forloop.last %}column-last{% endif %}">
                            <div class="columnHeader-inner">
                                <div class="columnHeader-flexSpacer"></div>
                                <div class="columnHeader-nameAndInfo">
                                    <h2 class="columnHeader-name">{{ coluna.nome }}</h2>
                                </div>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
             <tbody>
                <tr class="board-swimlane">
                    {% for coluna in colunas %}
                    <td class="board-taskListCell {% if forloop.first %}column-first{% elif forloop.last %}column-last{% endif %}">
                        <div class="board-taskListCell-inner">
                            <div class="board-taskListCellHeader">
                                <div class="board-taskListCellHeader-inner"></div>
                            </div>
                            <div class="taskList">
                                {% for tarefa in coluna.tarefas %}
                                <div class="task task-cyan ">
                                    <span class="task-name">{{ tarefa.nome }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
             </tbody>
        </table>
    </div>
</div>


{% endblock body %}