{% extends 'board/base.html' %}
{% load static %}
{% block title %}Kanban Life{% endblock title %}
{% block body %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="col text-align-center">
      <a class="navbar-brand logo-kanban-life-dark" href="#">Kanban-Life</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="col mt-3">
         <table class="board-table">
            <thead>
                <tr>
                    <th class="column-header">
                        <div class="columnHeader-inner">
                            <div class="columnHeader-flexSpacer"></div>
                            <div class="columnHeader-nameAndInfo">
                                <h2 class="columnHeader-name">Segunda</h2>
                            </div>
                        </div>
                    </th>
                    <th class="column-header">
                        <div class="columnHeader-inner">
                            <div class="columnHeader-flexSpacer"></div>
                            <div class="columnHeader-nameAndInfo">
                                <h2 class="columnHeader-name">Segunda</h2>
                            </div>
                        </div>
                    </th>
                    <th class="column-header">
                        <div class="columnHeader-inner">
                            <div class="columnHeader-flexSpacer"></div>
                            <div class="columnHeader-nameAndInfo">
                                <h2 class="columnHeader-name">Segunda</h2>
                            </div>
                        </div>
                    </th>
                    <th class="column-header">
                        <div class="columnHeader-inner">
                            <div class="columnHeader-flexSpacer"></div>
                            <div class="columnHeader-nameAndInfo">
                                <h2 class="columnHeader-name">Segunda</h2>
                            </div>
                        </div>
                    </th>
                    <th class="column-header">
                        <div class="columnHeader-inner">
                            <div class="columnHeader-flexSpacer"></div>
                            <div class="columnHeader-nameAndInfo">
                                <h2 class="columnHeader-name">Segunda</h2>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


{% endblock body %}